/*
  Variabili
*/
$orange: #ffc244;
$mdOrange: #f0b12e;
$darkOrange: #e19f17;
$white: #fff;
$green: #00a082;
$lightGreen: #00dab2;
$black: #000;

// font size 
$title-lg: 62px;
$title-md: 38px;
$title-sm: 32px;
$subtitle: 20px;
